<h1>{{ event.name }}</h1>

{% for fact in primary_facts %}
    {% if fact.get_related_facts() %}{% for f in fact.get_related_facts() %}
    <div data-fact-id="{{ f.id }}">
        <input type="text" value="{{ f.get_status() }}"></input>
        <input type="text" value="{{ f.get_pretty_time() }}"></input>
        <textarea>{{ f.statement }}</textarea>
        <textarea>{{ f.attribution }}</textarea>
        <button class="btn btn-mini fact-button">save</button>
    </div>
    {% endfor %}{% endif %}
    <div data-fact-id="{{ fact.id }}">
            <input type="text" value="{{ fact.get_status() }}"></input>
            <input type="text" value="{{ fact.get_pretty_time() }}"></input>
            <textarea>{{ fact.statement }}</textarea>
            <textarea>{{ fact.attribution }}</textarea>
            <button class="btn btn-mini fact-button">save</button>
    </div>
<hr/>
{% endfor %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    var fetch_data = function(fact_id){
        $.ajax('/admin/api/events/fact/'+ fact_id +'/read/', {
            dataType: 'json',
            type: 'POST',
            success: function(data, status, jqXHR){
                console.log(status);
                console.log(data);
            }
        });
    };

    $('body').on('click', 'button.fact-button', function(){
        fetch_data($(this).parent('div').attr('data-fact-id'));
        return false;
    });
</script>