{% extends '_base.html' %}

{% block title %}Breaking News: Boston Marathon Explosions : NPR{% endblock title %}

{% block extra_css %}
{{ CSS.push('less/breaking-news-board.less') }}
{% endblock extra_css %}

{% block body_class %}board internal{% endblock body_class %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Boston Marathon Explosions</h1>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block wide_content %}
<div class="visible-xs visible-sm" id="breaking-tabs">
    <ul>
        <li class="known"><a href="#known">Confirmed</a></li>
        <li class="unknown"><a href="#unknown">Chasing</a></li>
        <li class="watching"><a href="#watching">Watching</a></li>
        <li class="false"><a href="#false">False</a></li>
    </ul>
</div>

<div class="row breaking-news">
    <div class="col-md-3 tab-pane" id="known">
    
        <h3>What We've Confirmed</h3>
        <ul class="news-items">
        </ul>
    </div>
    
    <div class="col-md-3 tab-pane" id="unknown">
        <h3>What We're Chasing</h3>
        <ul class="news-items">
        </ul>
    </div>

    <div class="col-md-3 tab-pane" id="watching">
        <h3>What We're Watching (Not Reportable)</h3>
        <ul class="news-items">
            <li class="new">
            </li>
        </ul>
    </div>

    <div class="col-md-3 tab-pane" id="false">
        <h3>What We've Ruled Out</h3>
        <ul class="news-items">
        </ul>
    </div>
        
</div>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}


{% block extra_foot_js %}
{{ JS.push('js/lib/miso.ds.deps.ie.min.0.4.0.js') }}
{% endblock extra_foot_js %}