{% extends '_base.html' %}

{% block extra_css %}
{{ CSS.push('less/breaking-news.less') }}
{% endblock extra_css %}


{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Breaking News Facts</h1>
                <h2>NPR Serendipity Day, May 2013&nbsp;&nbsp;|&nbsp;&nbsp;Jeremy Bowers, Alyson Hurt and JoElla Straley</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block wide_content %}
<div class="row breaking-overview">
    <div class="col-md-6">
        <h3>About This Project</h3>
        <p>The epistemology of breaking news: We're looking to put together a single digital source of truth for "what we know to be true" during breaking news events. What do we know? And why do we know what we know? We'll focus on attribution, transparency, aggregation and fact-checking. We aim to deliver a usable prototype.</p>
        <p>Aside: Did you know that the Makah people of the Pacific Northwest have evidence <a href="http://en.wikipedia.org/wiki/Makah_language#Morphology">built into their verb tenses</a>? You literally can't grammatically build a sentence without explaining how you know what you know.</p>
    </div>
    <div class="col-md-3">
        <h4>Case Study: Boston Marathon</h4>
        <p>The newsroom circulated regularly updated lists of known facts about the Boston Marathon explosions. This case study takes a sample of those e-mails and organizes them in a slightly different way.</p>
        <p><a href="msg-1.html" class="btn btn-blue">Begin</a></p>
    </div>
    <div class="col-md-3">
        <h4>Findings</h4>
        <p><a href="https://docs.google.com/document/d/12tXv-kHxwf6bK5ZUGGQrMbWJff5xSYiLh3HORyf-K6c/edit">Interviews with Newsroom personnel who deal with breaking news</a> (Google Doc)</li>
    </div>
</div>
{% endblock %}
