{% extends '_msg.html' %}


{% block msg_navigation %}
<a href="msg-2.html" class="btn btn-blue">Next &rsaquo;</a>
{% endblock %}


{% block what_we_know %}
<h5>Updated at 4:21 p.m.</h5>
<ul class="news-items">
    <li class="new">
        <h4>New</h4>
        <div class="news-item">Two explosions at finish line of boston marathon</div>
        <ul class="meta">
            <li class="source">Source: NPR</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li class="new">
        <h4>New</h4>
        <div class="news-item">FBI counterterrorism officials on scene</div>
        <ul class="meta">
            <li class="source">Source: NPR</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li class="new">
        <h4>New</h4>
        <div class="news-item">President has been notified and has pledged assistance to state and local authorities.</div>
        <ul class="meta">
            <li class="source">Source: White House</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li class="new">
        <h4>New</h4>
        <div class="news-item">2 dead and 23 injured</div>
        <blockquote class="twitter-tweet"><p>Update 23 injuries2 dead <a href="https://twitter.com/search/%23tweetfromthebeat">#tweetfromthebeat</a> via @<a href="https://twitter.com/cherylfiandaca">cherylfiandaca</a></p>&mdash; Boston Police Dept. (@Boston_Police) <a href="https://twitter.com/Boston_Police/status/323890086792019968">April 15, 2013</a></blockquote>
        <ul class="meta">
            <li class="source">Source: Boston Police Department verified Twitter account - <span class="date">4:06 p.m.</span></li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>

    </li>
    <li class="new">
        <h4>New</h4>
        <div class="news-item">Huge problem looking for other potential bombs because so many bags left at roadside when people ran away & because so many cars parked in the area.</div>
        <ul class="meta">
            <li class="source">Source: Boston PD spokesperson (confirmed by Dina)</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block what_we_dont_know %}
<h5>Updated at 4:21 p.m.</h5>
{% endblock %}


{% block what_is_false %}
<h5>Updated at 4:21 p.m.</h5>
{% endblock %}