{% extends '_msg.html' %}


{% block msg_navigation %}
<a href="msg-10.html" class="btn btn-blue">Next &rsaquo;</a>
{% endblock %}


{% block what_we_know %}
<h5>Updated at 5:37 p.m.</h5>
<ul class="news-items">
    <li class="updated">
        <h4>Updated</h4>
        <div class="news-item">NPR count: 2 dead and  at least 60 injured</div>
        <ul class="meta">
            <li class="source">Source: NPR calls to regional hospitals, Boston Police</li>
            <li class="date-added">Updated: Monday, April 15, 2013 5:37 PM</li>
            <li class="revisions">
                <strong>2 previous versions</strong>
                <ul class="revisions">
                    <li>
                        <div class="news-item">
                            <span class="date">5:29 PM:</span> 
                            NPR count: 2 dead and at least 35 injured
                            (Source: NPR calls to regional hospitals, Boston Police)
                        </div>
                    </li>
                    <li>
                        <div class="news-item">
                            <span class="date">4:21 PM:</span> 
                            2 dead and 23 injured
                            (Source: <a href="https://twitter.com/Boston_Police/status/323890086792019968">Boston Police Department verified Twitter account</a>)
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="updated">
        <h4>Updated</h5>
        <div class="news-item"><strong>Boston Medical Center (formerly Boston City Hospital) has received 20 patients, including 2 children, all from the Marathon bombs. Most of these patients have lower-leg injuries, according to a hospital spokesperson. They don't have anything yet about condition of injured.</strong> Brigham and Womens’ Hospital has received 18 to 20 patients, with 2 in critical condition. MGH has had 19 people brought in, 6 critical, 5 serious.</div>
        <ul class="meta">
            <li class="source">Source: Hospital spokespeople</li>
            <li class="date-added">Updated: Monday, April 15, 2013 5:29 PM</li>
            <li class="revisions">
                <strong>2 previous version</strong>
                <ul class="revisions">
                    <li>
                        <div class="news-item">
                            <span class="date">5:24 PM:</span>
                            Brigham and Womens’ Hospital has received 18 to 20 patients, with 2 in critical condition. MGH has had 19 people brought in, 6 critical, 5 serious.
                            (Source: Hospital spokespeople)
                        </div>
                    <li>
                        <div class="news-item">
                            <span class="date">4:35 PM:</span> 
                            MGH has had 19 people brought in, 6 critical, 5 serious (**we don’t have numbers from other hospitals)
                            (Source: MGH spokesperson)
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="news-item">FBI counterterrorism officials on scene. FBI director Robert Mueller being briefed on attack as we speak.</div>
        <ul class="meta">
            <li class="source">Source: NPR, FBI spokesperson</li>
            <li class="date-added">Added: Monday, April 15, 2013 5:29 PM</li>
            <li class="revisions">
                <strong>1 previous version</strong>
                <ul class="revisions">
                    <li>
                        <div class="news-item">
                            <span class="date">4:21 PM:</span> 
                            FBI counterterrorism officials on scene.
                            (Source: NPR)
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="news-item">"This afternoon, the President received briefings from FBI Director Robert Mueller and DHS Secretary Janet Napolitano on the active investigation and response to the incident in Boston, including the ongoing coordination with state and local officials.  A photo of the President making the calls will be available at our Flickr site shortly."</div>
        <ul class="meta">
            <li class="source">White House official on background, to Ari Shapiro</li>
            <li class="date-added">Updated: Monday, April 15, 2013 5:29 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">The third explosion heard downtown was a controlled explosion by Boston Police.</div>
        <ul class="meta">
            <li class="source">Boston Police spokesperson</li>
            <li class="date-added">Updated: Monday, April 15, 2013 5:24 PM</li>
            <li class="revisions">
                <strong>1 previous version</strong>
                <ul class="revisions">
                    <li>
                        <div class="news-item">
                            <span class="date">4:26 PM:</span> 
                            The third explosion heard downtown was a controlled explosion by Boston Police. It is unclear what they were detonating.
                            (Source: WCVB (Boston ABC affiliate))
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="news-item">Boston police say there were no threats in advance.</div>
        <ul class="meta">
            <li class="source">Source: Boston Police 5pm press conference</li>
            <li class="date-added">Added: Monday, April 15, 2013 5:08 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">Two explosions at finish line of boston marathon, and a 3rd incident at the JFK Library.</div>
        <ul class="meta">
            <li class="source">Source: NPR, Boston Police Commissioner Ed Davis at 5pm press conference</li>
            <li class="date-added">Updated: Monday, April 15, 2013 5:05 PM</li>
            <li class="revisions">
                <strong>1 previous version</strong>
                <ul class="revisions">
                    <li>
                        <div class="news-item">
                            <span class="date">4:21 PM:</span> 
                            Two explosions at finish line of boston marathon 
                            (Source: NPR)
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="news-item">FAA has issued temporary flight restrictions for Boston.</div>
        <ul class="meta">
            <li class="source">Source: FAA spokesperson</li>
            <li class="date-added">Added: Monday, April 15, 2013 5:05 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">In DC – Metro Transit police step up security during rush hour commute</div>
        <ul class="meta">
            <li class="source">Source: WMATA spokesperson</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:50 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">“Shortly after being notified of the incident around 3pm EDT, the President received a briefing from Homeland Security adviser Lisa Monaco and other members of his senior White House staff in the Oval Office.  The President called Boston Mayor Tom Menino and Massachusetts Governor Deval Patrick to express his concern for those who were injured and to make clear that his administration is ready to provide needed support as they respond to the incident.”</div>
        <ul class="meta">
            <li class="source">Source: on background from a WH official</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:35 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">The 1600 block of Pennsylvania Avenue NW, normally closed to vehicular traffic but open to pedestrians, has been temporarily closed to pedestrians as well.</div>
        <ul class="meta">
            <li class="source">Source: Ari Shapiro</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:35 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">NY Police Department on alert</div>
        <ul class="meta">
            <li class="source">Source: NYPD spokesperson</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:26 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">President has been notified and has pledged assistance to state and local authorities.</div>
        <ul class="meta">
            <li class="source">Source: White House</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">Huge problem looking for other potential bombs because so many bags left at roadside when people ran away & because so many cars parked in the area.</div>
        <ul class="meta">
            <li class="source">Source: Boston PD spokesperson (confirmed by Dina)</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block what_we_dont_know %}
<h5>Updated at 5:37 p.m.</h5>
<ul class="news-items">
    <li>
        <div class="news-item">Cell phone service shut down in Boston to prevent remote detonation of other explosives.</div>
        <ul class="meta">
            <li class="source">Source: AP</li>
            <li class="date-added">Added: Monday, April 15, 2013 5:24 PM</li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block what_is_false %}
<h5>Updated at 5:37 p.m.</h5>
<ul class="news-items">
    <li class="updated">
        <h4>Updated</h4>
        <div class="news-item">JFK Library incident appears to be fire-related</div>
        <ul class="meta">
            <li class="source">Source: <a href="https://twitter.com/Boston_Police/status/323909232195944449">Boston Police Department verified Twitter account</a></li>
            <li class="date-added">Updated: Monday, April 15, 2013 5:37 PM</li>
            <li class="revisions">
                <strong>1 previous version</strong>
                <ul class="revisions">
                    <li>
                        <div class="news-item">
                            <span class="date">5:05 PM:</span> 
                            Police are treating the 3rd incident at the JFK Library as if it is related, but they haven’t confirmed a connection to earlier incidents.
                            (Source: Boston Police Commissioner Ed Davis at 5pm press conference)
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <div class="news-item">Boston Police have not found any more unexploded devices (counter to some reports)</div>
        <ul class="meta">
            <li class="source">Source: Boston Police Commissioner Ed Davis at 5pm press conference</li>
            <li class="date-added">Added: Monday, April 15, 2013 5:05 PM</li>
        </ul>
    </li>
</ul>
{% endblock %}