{% extends '_msg.html' %}

{% block what_we_know %}
<h5>Updated at 4:35 p.m.</h5>
<ul class="news-items">
    <li class="new">
        <div class="news-item">“Shortly after being notified of the incident around 3pm EDT, the President received a briefing from Homeland Security adviser Lisa Monaco and other members of his senior White House staff in the Oval Office.  The President called Boston Mayor Tom Menino and Massachusetts Governor Deval Patrick to express his concern for those who were injured and to make clear that his administration is ready to provide needed support as they respond to the incident.”</div>
        <ul class="meta">
            <li class="source">Source: on background from a WH official</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:35 PM</li>
        </ul>
    </li>
    <li class="new">
        <div class="news-item">The 1600 block of Pennsylvania Avenue NW, normally closed to vehicular traffic but open to pedestrians, has been temporarily closed to pedestrians as well.</div>
        <ul class="meta">
            <li class="source">Source: Ari Shapiro</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:35 PM</li>
        </ul>
    </li>
    <li class="new">
        <div class="news-item">MGH has had 19 people brought in, 6 critical, 5 serious (**we don’t have numbers from other hospitals)</div>
        <ul class="meta">
            <li class="source">Source: MGH spokesperson</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:35 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">NY Police Department on alert</div>
        <ul class="meta">
            <li class="source">Source: NYPD spokesperson</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:26 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">Two explosions at finish line of boston marathon</div>
        <ul class="meta">
            <li class="source">Source: NPR</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">FBI counterterrorism officials on scene</div>
        <ul class="meta">
            <li class="source">Source: NPR</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">President has been notified and has pledged assistance to state and local authorities.</div>
        <ul class="meta">
            <li class="source">Source: White House</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
    <li>
        <div class="news-item">2 dead and 23 injured</div>
        <blockquote class="twitter-tweet"><p>Update 23 injuries2 dead <a href="https://twitter.com/search/%23tweetfromthebeat">#tweetfromthebeat</a> via @<a href="https://twitter.com/cherylfiandaca">cherylfiandaca</a></p>&mdash; Boston Police Dept. (@Boston_Police) <a href="https://twitter.com/Boston_Police/status/323890086792019968">April 15, 2013</a></blockquote>
        <ul class="meta">
            <li class="source">Source: Boston Police Department verified Twitter account - <span class="date">4:06 p.m.</span></li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>

    </li>
    <li>
        <div class="news-item">Huge problem looking for other potential bombs because so many bags left at roadside when people ran away & because so many cars parked in the area.</div>
        <ul class="meta">
            <li class="source">Source: Boston PD spokesperson (confirmed by Dina)</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:21 PM</li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block what_we_dont_know %}
<h5>Updated at 4:35 p.m.</h5>
<ul class="news-items">
    <li>
        <div class="news-item">The third explosion heard downtown was a controlled explosion by Boston Police. It is unclear what they were detonating.</div>
        <ul class="meta">
            <li class="source">WCVB (Boston ABC affiliate)</li>
            <li class="date-added">Added: Monday, April 15, 2013 4:26 PM</li>
        </ul>
    </li>
</ul>
{% endblock %}


{% block what_is_false %}
<h5>Updated at 4:35 p.m.</h5>
{% endblock %}